<section class="category-consult-section">
  <div class="category-consult-container">
    <div class="category-consult-form-container">
      <div class="title">
        <h2>Consulta e alteração de categorias</h2>
      </div>

      <div class="categoryName-container">
        <label for="categoryName">Nome da categoria:</label>
        <input type="text" id="categoryName" name="categoryName" placeholder="Digite aqui" [(ngModel)]="category_name" />
      </div>

      <div *ngIf="is_update_category_open">
        <div class="categoryLogo-container">
          <label for="categoryLogo">URL do ícone da categoria:</label>
          <input type="text" id="categoryLogo" name="categoryLogo" placeholder="Digite aqui" [(ngModel)]="category_logo" />
        </div>

        <div class="categoryImage-container">
          <label for="categoryImage">URL da imagem da categoria:</label>
          <input type="text" id="categoryImage" name="categoryImage" placeholder="Digite aqui" [(ngModel)]="category_image" />
        </div>
      </div>

      <div *ngIf="!is_update_category_open" class="consultButton-container">
        <button (click)="validateInputs()">Consultar</button>
      </div>

      <div *ngIf="is_update_category_open" class="updateButton-container">
        <button class="cleanBtn" (click)="cleanCategory()">Cancelar</button>
        <button class="saveBtn" (click)="validateUpdateInputs()">Salvar Alterações</button>
      </div>
    </div>
  </div>

  <div *ngIf="is_modal_message_open" class="messageModal-container">
    <div class="messageModal-content">
      <div class="title">
        <p>Atenção!</p>
      </div>

      <div class="message">
        <div class="contentCategory-container">
          <p class="topic">Mensagem:</p>
          <p class="content">{{ modal_message }}</p>
        </div>
      </div>

      <div class="buttons-container">
        <button class="closeButton" (click)="closeModalMessage()">Fechar</button>
      </div>
    </div>
  </div>

  <app-loader *ngIf="is_loader_open"></app-loader>
</section>