<section class="footer-section">
  <div class="footer-container">
    <div class="footer-logoCopyright">
      <a routerLink="/">
        <img src="http://stars-games.s3-website-sa-east-1.amazonaws.com/assets/disney-wish-star.png" alt="Logo bowser" />
      </a>
      <div>
        <p>Stars Games</p>
        <p>© Copyright 2024</p>
        <div class="developers">
          <a href="https://github.com/jbastoscor" target="_blank">
            Desenvolvedora
          </a>
        </div>
      </div>
    </div>
    <div class="footer-developers">
      <a href="https://github.com/jbastoscor" target="_blank">
        Desenvolvedora
      </a>
    </div>
  </div>
</section>