<header>
  <app-header></app-header>
</header>

<main>
  <app-heading1 [text]="headingText"></app-heading1>
  <app-adm-cadastro-games></app-adm-cadastro-games>
  <app-adm-consulta-update-games></app-adm-consulta-update-games>
  <app-adm-delete-games></app-adm-delete-games>
  <app-adm-cadastro-categories></app-adm-cadastro-categories>
  <app-adm-consulta-categories></app-adm-consulta-categories>
  <app-adm-delete-categories></app-adm-delete-categories>
</main>

<footer>
  <app-footer></app-footer>
</footer>