<section class="categoriesPage-section">
  <div class="categoriesPage-container">
    <div class="categoriesPage-title">
      <h1>Categorias</h1>
    </div>

    <ul *ngIf="categories" class="categoriesPage-cards">
      <li *ngFor="let category of categories" class="categoriesPage-cards-item" (click)="navigationToCategoryGames(category._id)">
        <div class="categoriesPage-cards-item-img">
          <img [src]="category.category_image" [alt]="'Imagem ilustrativa da categoria de games: ' + category.category_name" />
        </div>
        <div class="categoriesPage-cards-item-title">
          <p>Jogos de {{ category.category_name }}</p>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="isModalMessageOpen" class="messageModal-container">
    <div class="messageModal-content">
      <div class="title">
        <p>Atenção!</p>
      </div>
      <div class="message">
        <div class="contentcategory-container">
          <p class="topic">Mensagem:</p>
          <p class="content">{{ modalMessage }}</p>
        </div>
      </div>
      <div class="buttons-container">
        <button class="closeButton" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>

  <app-loader *ngIf="isLoaderOpen"></app-loader>
</section>