<section class="game-register-section">
  <div class="game-register-container">
    <div class="game-register-form-container">
      <div class="title">
        <h2>Cadastro de jogos</h2>
      </div>

      <div class="gameForm-container">
        <div class="gameName-container">
          <label for="gameName">Nome do jogo:</label>
          <input type="text" id="gameName" name="gameName" placeholder="Digite aqui" [(ngModel)]="game_name" />
        </div>

        <div *ngIf="categories" class="gameCategory-container">
          <label for="gameCategory">Categoria:</label>
          <select id="gameCategory" name="gameCategory" [(ngModel)]="game_category">
            <option value="" disabled hidden>Selecione</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
        </div>

        <div class="gameUrl-container">
          <label for="gameUrl">URL do jogo:</label>
          <input type="text" id="gameUrl" name="gameUrl" placeholder="Cole aqui" [(ngModel)]="game_url" />
        </div>

        <div class="gameVideoUrl-container">
          <label for="gameVideoUrl">URL do vídeo do jogo (opcional):</label>
          <input type="text" id="gameVideoUrl" name="gameVideoUrl" placeholder="Cole aqui" [(ngModel)]="game_video_url" />
        </div>

        <div class="gameImageUrl-container">
          <label for="gameImageUrl">URL da imagem do jogo:</label>
          <input type="text" id="gameImageUrl" name="gameImageUrl" placeholder="Cole aqui" [(ngModel)]="game_image_url" />
        </div>

        <div class="gameDescription-container">
          <label for="gameDescription">Descrição do jogo (255 caracteres): </label>
          <textarea maxlength="255" id="gameDescription" name="gameDescription" placeholder="Digite aqui" [(ngModel)]="game_description"></textarea>
        </div>
      </div>

      <div class="registerButton-container">
        <button (click)="validateInputs()">Cadastrar</button>
      </div>
    </div>
  </div>

  <div *ngIf="modal_open" class="messageModal-container">
    <div class="messageModal-content">
      <div class="title">
        <p>Atenção!</p>
      </div>

      <div class="message">
        <div class="contentGame-container">
          <p class="topic">Mensagem:</p>
          <p class="content">{{ modal_message }}</p>
        </div>
      </div>

      <div class="buttons-container">
        <button class="closeButton" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>

  <app-loader *ngIf="is_loader_open"></app-loader>
</section>