.userProfile-section {
  width: 100%;

  .userProfile-container {
    display: flex;
    flex-direction: column;
    margin: 25px 15px 15px 15px;

    @media screen and (min-width: 1050px) {
      max-width: 1024px;
      width: 100%;
      margin: 25px auto;
    }

    @media screen and (min-width: 1600px) {
      max-width: 1550px;
      margin: 35px auto;
    }

    &-intro {
      margin-bottom: 25px;

      h1 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &-form {
      background-color: #a421d3;
      border: 1px solid #000;
      border-radius: 5px;

      &-container {
        display: flex;
        flex-direction: column;
        padding: 15px;

        @media screen and (min-width: 1600px) {
          align-items: center;
          max-width: 1024px;
          width: 100%;
          margin: 0 auto;
        }

        &-fullName {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          label {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            color: #fff;
          }

          input {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            height: 30px;
            width: 100%;
            padding: 6px 6px 3px 5px;
            border: 1px solid #282828;
            border-radius: 5px;
            outline-color: #000;

            &:disabled {
              background-color: #b5b5b5;
              color: #000;
            }
          }
        }

        &-username {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          label {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            color: #fff;
          }

          input {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            height: 30px;
            width: 100%;
            padding: 6px 6px 3px 5px;
            border: 1px solid #282828;
            border-radius: 5px;
            outline-color: #000;

            &:disabled {
              background-color: #b5b5b5;
              color: #000;
            }
          }
        }

        &-birthday {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          label {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            color: #fff;
          }

          input {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            height: 30px;
            width: 100%;
            padding: 6px 6px 3px 5px;
            border: 1px solid #282828;
            border-radius: 5px;
            outline-color: #000;

            &:disabled {
              background-color: #b5b5b5;
              color: #000;
            }
          }
        }

        &-country {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          label {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            color: #fff;
          }

          input {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            height: 30px;
            width: 100%;
            padding: 6px 6px 3px 5px;
            border: 1px solid #282828;
            border-radius: 5px;
            outline-color: #000;

            &:disabled {
              background-color: #b5b5b5;
              color: #000;
            }
          }
        }

        &-state {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          label {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            color: #fff;
          }

          input {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            height: 30px;
            width: 100%;
            padding: 6px 6px 3px 5px;
            border: 1px solid #282828;
            border-radius: 5px;
            outline-color: #000;

            &:disabled {
              background-color: #b5b5b5;
              color: #000;
            }
          }
        }

        &-ctas {
          display: flex;
          flex-direction: column;

          @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
          }

          &-btnUpdateData {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            width: 150px;
            height: 30px;
            padding-top: 5px;
            background-color: #049cd8;
            border: 1px solid #fff;
            border-radius: 5px;
            margin: 0 auto 15px auto;
            cursor: pointer;

            @media screen and (min-width: 768px) {
              margin: 0 auto;
            }
          }

          &-btnUpdatePassword {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            width: 150px;
            height: 30px;
            padding-top: 5px;
            background-color: #049cd8;
            border: 1px solid #fff;
            border-radius: 5px;
            margin: 0 auto;
            cursor: pointer;
          }

          &-btnCancelUpdateData {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            width: 150px;
            height: 30px;
            padding-top: 5px;
            background-color: #049cd8;
            border: 1px solid #fff;
            border-radius: 5px;
            margin: 0 auto 15px auto;
            cursor: pointer;

            @media screen and (min-width: 768px) {
              margin: 0 auto;
            }
          }

          &-btnSaveUpdateData {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            width: 150px;
            height: 50px;
            padding-top: 5px;
            background-color: #049cd8;
            border: 1px solid #fff;
            border-radius: 5px;
            margin: 0 auto;
            cursor: pointer;

            @media screen and (min-width: 768px) {
              width: 230px;
              height: 30px;
            }
          }
        }
      }
    }

    &-formPassword {
      background-color: #a421d3;
      border: 1px solid #000;
      border-radius: 5px;

      &-container {
        display: flex;
        flex-direction: column;
        padding: 15px;

        @media screen and (min-width: 1600px) {
          align-items: center;
          max-width: 1024px;
          width: 100%;
          margin: 0 auto;
        }

        &-password {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          label {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            color: #fff;
          }

          input {
            font-family: "Josefin Sans", sans-serif;
            font-size: 14px;
            height: 30px;
            width: 100%;
            padding: 6px 30px 3px 5px;
            border: 1px solid #282828;
            border-radius: 5px;
            outline-color: #000;
          }

          span {
            position: absolute;
            right: 8px;
            bottom: 2px;
            cursor: pointer;
          }
        }
      }
    }

    &-adm {
      margin: 25px 0;

      &-intro {
        margin-bottom: 25px;

        h2 {
          font-family: "Josefin Sans", sans-serif;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          padding-top: 3px;
        }
      }

      &-cta {
        display: flex;
        justify-content: center;
        background-color: #a421d3;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 15px;

        button {
          font-family: "Josefin Sans", sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          width: 100%;
          height: 50px;
          padding-top: 5px;
          background-color: #049cd8;
          border: 1px solid #fff;
          border-radius: 5px;
          margin: 0 auto;
          cursor: pointer;

          @media screen and (min-width: 768px) {
            width: 300px;
          }
        }
      }
    }
  }

  .messageModal-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    .messageModal-content {
      position: absolute;
      width: calc(100% - 30px);
      height: auto;
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      margin: 15px;
      padding: 15px;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1050px) {
        width: 1024px;
      }

      .title {
        margin-bottom: 20px;

        p {
          font-family: "Josefin Sans", sans-serif;
          font-size: 20px;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
        }
      }

      .message {
        margin-bottom: 15px;

        .contentcategory-container {
          margin-bottom: 15px;
          padding: 5px;
          border: 1px solid #000;
          border-radius: 5px;

          .topic {
            font-family: "Josefin Sans", sans-serif;
            margin-bottom: 5px;
          }

          .content {
            font-family: "Josefin Sans", sans-serif;
            font-weight: 700;
            word-wrap: break-word;
          }
        }
      }

      .buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .closeButton {
          font-family: "Josefin Sans", sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          width: 150px;
          height: 30px;
          padding-top: 5px;
          margin: 0;
          background-color: #049cd8;
          border: 1px solid #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
