.carrossel-section {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 2, 0.4);

  .carrossel-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;

    @media screen and (min-width: 1050px) {
      max-width: 1024px;
      width: 100%;
      margin: 30px auto;
    }

    @media screen and (min-width: 1600px) {
      max-width: 1550px;
    }
  }

  .carrossel-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;

    @media screen and (min-width: 1024px) {
      font-size: 24px;
    }
  }

  .slick-prev {
    color: transparent;
    background: none;
    background-color: #ffffff;
    border: none;
    width: 20px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 40%;
    z-index: 1;
    cursor: pointer;

    @media screen and (min-width: 1050px) {
      left: 0;
    }

    &::before {
      width: 15px;
      position: relative;
      top: 8px;
      left: -1px;
    }
  }

  .slick-next {
    color: transparent;
    background: none;
    background-color: #ffffff;
    border: none;
    width: 20px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 40%;
    z-index: 1;
    cursor: pointer;

    @media screen and (min-width: 1050px) {
      right: 0;
    }

    &::before {
      width: 15px;
      position: relative;
      top: 8px;
      right: 0px;
    }
  }

  .slick-dots {
    display: none;

    li {
      button {
        background: none;
      }
    }
  }

  .carrossel-games {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    min-height: 380px;
    height: 100%;
    padding: 0 45px;
    margin-bottom: 15px;

    @media screen and (min-width: 1050px) {
      min-height: 370px;
    }

    &-img {
      width: 100%;
      height: 130px;
      box-shadow: 0px 0px 7px 3px rgb(0, 0, 0, 0.7);
      margin-bottom: 15px;

      @media screen and (min-width: 360px) {
        height: 165px;
      }

      @media screen and (min-width: 1024px) {
        height: 130px;
      }

      @media screen and (min-width: 1600px) {
        height: 165px;
      }
    }

    &-texts {
      margin-bottom: 15px;

      &-name {
        font-family: "Josefin Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-align: center;
      }

      &-description {
        font-family: "Josefin Sans", sans-serif;
        font-size: 16px;
        text-align: justify;
      }
    }

    &-cta {
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      color: #000;
      width: 100%;
      height: 30px;
      padding-top: 5px;
      margin: 0;
      background-color: #ffffff;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #a421d3;
        color: #ffffff;
      }
    }
  }
}
